* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fff7ee;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px
}

h1, h4 {
  margin: 10px;
  text-align: center;
}

a {
  text-decoration: underline dotted #001f26;
  font-weight: bold;
  color: #044414;
  transition: all .2 ease
}

a:hover {
  color: green;
}

table {
  flex: 1 0 10%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 15px;
  background-color: #c5f2ab;
  color: #044414;
  box-shadow: 3px 3px 7px #012403;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.form {
  margin: 20px auto;
}

.success {
  color: green;
}

.error {
  color: red;
}
