{% extends 'base.html' %}

{% block title %}
  Main page
{% endblock %}

{% block content %}
<div class="container">
  <h1>Task manager</h1>
  <div class="content">
    <table>
      <tr>
        <th>Task</th>
        <th>Added</th>
        <th>Actions</th>
      </tr>
      {% for task in tasks %}
        <tr>
          <td>{{ task.content }}</td>
          <td>{{ task.created_at.date() }}</td>
          <td>
            <a href="/update/{{ task.id }}">Update</a><br>
            <a href="/delete/{{ task.id }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <div class="form">
      <form action="/" method="post">
        <input type="text" name="task">
        <input type="submit" name="submit" value="Add task">
      </form>
    </div>
  </div>
</div>
{% endblock %}
